/*

"Good UI design is humble.” – Jono DiCarlo

*/
/*----------------Sass Colors------------------*/
/*----Sass imports----*/
/* 	Copyright Adam Gedney 12/2/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo



/*-----12 col grid------*/
/*Breakpoints -------------------*/
/*--------------------------------------Start CSS Reset---------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, del, em, img, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?iefix") format("eot"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?iefix") format("eot"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#webfont") format("svg");
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?iefix") format("eot"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#webfont") format("svg");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  color: #333333;
  font: 62.5% OpenSans, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font: 62.5% OpenSansLight, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1 {
  font-size: 3.6em;
  /*18x4*/
  line-height: 1.5;
}

h2 {
  font-size: 2.4em;
  /*18x3*/
  line-height: 1.5;
}

h3 {
  font-size: 1.6em;
  /*18x2 - 6*/
  line-height: 1.5;
}

p, ul, dl {
  font-size: 1.6em;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul {
  line-height: 1.5;
}

a {
  cursor: pointer;
}

a, input[type="submit"] {
  text-decoration: none;
  color: #0971b2;
  opacity: 1;
  outline: none;
  -webkit-appearance: none;
  /*overrides safari mobile default styling*/
}

a:visited {
  outline: none;
}

a:hover, input[type="submit"]:hover {
  opacity: .5;
}

a.no-tran:hover {
  opacity: 1;
}

img {
  max-width: 100%;
}

input, button, textarea {
  border: none;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  height: 30px;
  display: block;
  margin-bottom: 9px;
  padding: 9px;
  font-size: 1.6em;
  font-weight: 100;
  outline: none;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e8e8e8;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #e8e8e8;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e8e8e8;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #e8e8e8;
}

.image-zoom {
  position: relative;
  width: 25%;
  display: block;
  width: 66.6666666%;
  margin: 0 20%;
}
@media only screen and (min-width: 515px) {
  .image-zoom {
    margin: 0 30%;
  }
}
@media only screen and (min-width: 860px) {
  .image-zoom {
    margin: 0;
    display: inline-block;
    width: 25%;
  }
}

.image-zoom .image-zoom-lens {
  width: 250px;
  height: 250px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  background-repeat: no-repeat;
  z-index: 99999;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/*--------------------------------------End General / Start Objects------------------------------------*/
.wrapper {
  width: 91.6666666%;
  margin-left: 4.1666667%;
  margin-right: 4.1666667%;
}
@media only screen and (min-width: 860px) {
  .wrapper {
    width: 83.3333333%;
    margin-left: 8.33333335%;
    margin-right: 8.33333335%;
  }
}
@media only screen and (min-width: 2000px) {
  .wrapper {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}

.button {
  border: 2px solid #fdc71d;
  color: #333333;
  padding: 18px 36px;
  border-radius: 3px;
  font-size: 1.2em;
}

/*===================================*/
/*Header*/
/*===================================*/
header {
  height: 90px;
  background: white;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;
  position: relative;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.02);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.02);
}
header .col1, header .col2, header .col3 {
  width: 50%;
  float: left;
}
header .col1 {
  width: 25%;
}
@media only screen and (min-width: 515px) {
  header .col1 {
    width: 50%;
  }
}
@media only screen and (min-width: 860px) {
  header .col1 {
    width: 33.3333333%;
  }
}
header .col2 {
  text-align: center;
  display: none;
}
@media only screen and (min-width: 860px) {
  header .col2 {
    display: inline-block;
    width: 33.3333333%;
  }
}
header .col3 {
  width: 75%;
}
@media only screen and (min-width: 515px) {
  header .col3 {
    width: 50%;
  }
}
@media only screen and (min-width: 860px) {
  header .col3 {
    width: 33.3333333%;
  }
}
header img {
  margin-top: 9px;
}
header h1 {
  line-height: 90px;
  font-size: 2.7em;
  display: inline;
}
@media only screen and (min-width: 515px) {
  header {
    position: fixed;
  }
}

#rep-info {
  float: right;
}
#rep-info ul {
  margin-top: 18px;
}
#rep-info ul li {
  line-height: 1.7em;
  font-size: .7em;
}
@media only screen and (min-width: 515px) {
  #rep-info ul li {
    line-height: 1.2em;
    font-size: .9em;
  }
}

.info-label {
  display: inline-block;
  text-align: right;
  width: 100px;
  margin-right: 18px;
  color: #333333;
}

/*===================================*/
/*Products List*/
/*===================================*/
#products-list {
  padding: 6% 0;
  margin-top: 120px;
}

li.item {
  margin-bottom: 180px;
  padding: 6% 0;
}

.item-details {
  width: 83.3333333%;
  margin-left: 8.33333335%;
  margin-right: 8.33333335%;
  float: left;
  color: #8d8d8d;
}
.item-details ul li {
  font-size: .6em;
  line-height: 1.2em;
}
.item-details ul li:first-child {
  font-size: 1em;
  color: #333333;
  line-height: 1em;
  margin-top: 18px;
}
@media only screen and (min-width: 860px) {
  .item-details ul li:first-child {
    font-size: 1.2em;
    margin-top: 0;
    line-height: 1.75em;
  }
}
.item-details .info-label {
  text-align: left;
}
@media only screen and (min-width: 860px) {
  .item-details {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    float: right;
  }
}

.description {
  width: 100%;
  margin-top: 18px;
  color: #333333;
}
@media only screen and (min-width: 860px) {
  .description {
    width: 83.3333333%;
  }
}

.contact-button {
  margin-top: 51px;
}

#pages {
  position: fixed;
  right: 3%;
  top: 35%;
  display: none;
}
#pages ul li {
  list-style-type: disc;
  color: #e8e8e8;
}
#pages ul li:first-child {
  color: #8d8d8d;
}
@media only screen and (min-width: 860px) {
  #pages {
    display: block;
  }
}

/*===================================*/
/*Footer*/
/*===================================*/
footer {
  height: 90px;
  background: #232323;
  color: #e8e8e8;
}
footer p {
  text-align: center;
  padding-top: 36px;
  font-size: 1.2em;
}
